<ion-content id="page">

  <div id="logo">
    <img [class.small]="show" src="../../assets/imgs/nutring-color.png">
  </div>

  <form class="login">
    <div class="login-info">
      <img src="../../assets/icones/pena.png">
      <input (focus)="show=true" (focusout)="show=false" autocomplete="off" type="text" autocapitalize="none" [(ngModel)]="user.email" name="email" (keyup)="validateLogin()"
        placeholder="Usuário ou e-mail">
    </div>

    <div class="login-info">
      <img src="../../assets/icones/lock.png">
      <input (focus)="show=true" (focusout)="show=false" autocomplete="off" type="password" autocapitalize="none" [(ngModel)]="user.senha" name="senha" (keyup)="validateLogin()"
        placeholder="Senha">
    </div>

    <div class="login-info">
      <button [disabled]="!validLogin" type="submit" class="green" *ngIf="!loadingLogin" (click)="login()">Comece agora</button>
      <button *ngIf="loadingLogin" class="green">
        <ion-spinner color="white" name="dots"></ion-spinner>
      </button>
    </div>
  </form>

  <div class="option option1" [id]="show ? 'hide' : 'show'">
    <button [disabled]="loadingSomething" (click)="goToRegister()">Criar conta</button>
  </div>
  <div class="option option2" [id]="show ? 'hide' : 'show'">
    <button [disabled]="loadingSomething">Precisa de ajuda?</button>
  </div>

</ion-content>
<!-- <ion-footer padding no-border>
  <ion-toolbar color="white">
    <h2><span>ou</span></h2>


    <button *ngIf="!loadingFacebookLogin" [disabled]="loadingSomething" ion-button full (click)="loginFacebook()" color="fb"
      icon-start>
      <ion-icon name="logo-facebook"></ion-icon>
      ENTRAR COM FACEBOOK
    </button>
    <button *ngIf="loadingFacebookLogin" ion-button full color="fb" icon-start>
      <ion-spinner color="white" name="dots"></ion-spinner>
    </button>


  </ion-toolbar>
</ion-footer> -->