<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content id="page">

  <div (click)="goToLogin()" id="go-back">
    <ion-icon name="ios-arrow-back"></ion-icon>
  </div>

    <div id="logo">
      <img src="../../assets/imgs/nutring-green.png">
    </div>

    <form class="register">
      <div class="register-info">
        <img src="../../assets/icones/nome-completo.png">
        <input class="input-text" type="text" maxlength="60" autocomplete="off" [(ngModel)]="user.nome" name="nome" (keyup)="validFields()" placeholder="Nome completo">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/telefone.png">
        <input class="input-text" autocomplete="off" type="tel" pattern="\d*" [(ngModel)]="user.telefone" name="telefone" (keyup)="transformTelefone($event); validFields()" (keypress)="validateKeyTelefone($event)" placeholder="Telefone">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/genero.png">
        <p *ngIf="!user.sexo" id="float-select">Gênero</p>
        <select [(ngModel)]="user.sexo" (ngModelChange)="validFields()" name="sexo">
          <option value="F">Feminino</option>
          <option value="M">Masculino</option>
        </select>
      </div>
      <div class="register-info">
        <img src="../../assets/icones/nascimento.png">
        <input class="input-text" autocomplete="off" type="tel" pattern="\d*" maxlength="10" [(ngModel)]="dt_nasc" name="dt_nasc" (keyup)="transformDtNasc($event); validFields()" (keypress)="validateKeyDtNasc($event)" placeholder="Data de nascimento">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/email.png">
        <input class="input-text" autocomplete="off" type="email" maxlength="90" [(ngModel)]="user.email" name="email" autocapitalize="none" (keyup)="validFields()" placeholder="E-mail">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/user.png">
        <input class="input-text" autocomplete="off" type="text" maxlength="30" [(ngModel)]="user.usuario" name="usuario" autocapitalize="none" (keyup)="validFields()" placeholder="Usuário">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/password.png">
        <input class="input-text" autocomplete="off" type="password" maxlength="60" [(ngModel)]="user.senha" name="senha" (keyup)="validFields()" placeholder="Senha">
      </div>
      <div class="register-info">
          <button [disabled]="!validRegister" type="submit" class="green" *ngIf="!loading" (click)="register()">Comece agora</button>
          <button *ngIf="loading" class="green" ion-button full>
              <ion-spinner color="white" name="dots"></ion-spinner>
          </button>
      </div>
    </form>



  </ion-content>