<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content id="page">

  <div (click)="goToLogin()" id="go-back">
    <ion-icon name="ios-arrow-back"></ion-icon>
  </div>

    <div id="logo">
      <img src="../../assets/imgs/nutring-green.png">
    </div>

    <!-- <form id="cadastro">
      <ion-list>

        <ion-item-divider padding color="light">Dados pessoais</ion-item-divider>
        <ion-item>
          <ion-icon name="contact" item-start></ion-icon>
          <ion-label stacked>Nome Completo</ion-label>
          <ion-input maxlength="60" [(ngModel)]="user.nome" name="nome" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <ion-label stacked>Telefone</ion-label>
          <ion-input type="text" [(ngModel)]="user.telefone" name="telefone" [brmasker]="{phone: true}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="at" item-start></ion-icon>
          <ion-label stacked>E-mail</ion-label>
          <ion-input maxlength="90" [(ngModel)]="user.email" name="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="people" item-start></ion-icon>
          <ion-label stacked>Sexo</ion-label>
          <ion-select [(ngModel)]="user.sexo" name="sexo">
            <ion-option value="F">Feminino</ion-option>
            <ion-option value="M">Masculino</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
          <ion-label stacked>Data de nascimento</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="user.dt_nasc" name="dt_nasc" 
          style="border-bottom: 1px solid rgb(222, 222, 222)">
        </ion-datetime>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-item-divider padding color="light">Dados para acesso</ion-item-divider>

        <ion-item padding-right>
          <ion-label floating>Nome de usuário</ion-label>
          <ion-input maxlength="30" [(ngModel)]="user.usuario" name="usuario" type="text"></ion-input>
        </ion-item>

        <ion-item padding-right>
          <ion-label floating>Senha</ion-label>
          <ion-input maxlength="60" [(ngModel)]="user.senha" name="senha" type="password"></ion-input>
        </ion-item>

        <div padding>
          <button *ngIf="!loading" ion-button full (click)="register()">Cadastrar</button>
          <button *ngIf="loading" ion-button full><ion-spinner color="white" name="bubbles"></ion-spinner></button>
        </div>
        <div class="align-center">
          <a href="#" (click)="goToLogin()">Já tenho uma conta</a>
        </div>
      </ion-list>
      

      

      
    </form> -->


    <form class="register">
      <div class="register-info">
        <img src="../../assets/icones/nome-completo.png">
        <input class="input-text" type="text" maxlength="60" autocomplete="off" [(ngModel)]="user.nome" name="nome" (keyup)="validFields()" placeholder="Nome completo">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/telefone.png">
        <input class="input-text" autocomplete="off" type="text" [(ngModel)]="user.telefone" name="telefone" (keyup)="transformTelefone($event); validFields()" (keypress)="validateKeyTelefone($event)" placeholder="Telefone">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/genero.png">
        <p *ngIf="!user.sexo" id="float-select">Gênero</p>
        <select [(ngModel)]="user.sexo" (ngModelChange)="validFields()" name="sexo">
          <option value="F">Feminino</option>
          <option value="M">Masculino</option>
        </select>
      </div>
      <div class="register-info">
        <img src="../../assets/icones/nascimento.png">
        <input class="input-text" autocomplete="off" type="text" maxlength="10" [(ngModel)]="dt_nasc" name="dt_nasc" (keyup)="transformDtNasc($event); validFields()" (keypress)="validateKeyDtNasc($event)" placeholder="Data de nascimento">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/email.png">
        <input class="input-text" autocomplete="off" type="text" maxlength="90" [(ngModel)]="user.email" name="email" (keyup)="validFields()" placeholder="E-mail">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/user.png">
        <input class="input-text" autocomplete="off" type="text" maxlength="30" [(ngModel)]="user.usuario" name="usuario" (keyup)="validFields()" placeholder="Usuário">
      </div>
      <div class="register-info">
        <img src="../../assets/icones/password.png">
        <input class="input-text" autocomplete="off" type="password" maxlength="60" [(ngModel)]="user.senha" name="senha" (keyup)="validFields()" placeholder="Senha">
      </div>
      <div class="register-info">
          <button [disabled]="!validRegister" type="submit" class="green" *ngIf="!loading" (click)="register()">Comece agora</button>
          <button *ngIf="loading" class="green" ion-button full>
              <ion-spinner color="white" name="dots"></ion-spinner>
          </button>
      </div>
    </form>



  </ion-content>