<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="{{selectedTheme}}">



    <ion-title text-left>
      Comentários
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content #content>

  <loader *ngIf="loading && !comments || (loading && comments && comments.length == 0)"></loader>

  <div class="comments" *ngIf="!loading && comments && comments.length > 0">

    <div *ngFor="let comment of comments" class="comment">
      <div class="absolute">
        <ion-icon class="like-button" (click)="setLike(comment)" [id]="comment.gostei ? 'liked2' : 'unliked2'" name="thumbs-up"></ion-icon>
      </div>
      <div class="user-info">
        <img class="user-picture" [src]="comment.foto">
        <div class="text">
          <div class="info">
            <h1>{{comment.nome}}</h1>
          </div>
          <div class="comment-info">
              <p>{{comment.comentario}}</p>
              <div class="likes-info">
                <p>Ontem</p>
                <p class="likes" *ngIf="comment.curtidas && comment.curtidas == 1">{{comment.curtidas | curtidas}} curtida</p>
                <p class="likes" *ngIf="comment.curtidas && comment.curtidas > 1">{{comment.curtidas | curtidas}} curtidas</p>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <form class="comment-bar" (ngSubmit)="sendComment()">
    <img [src]="user.foto">
    <!-- <textarea class="txt-send-comment" placeholder="Deixe um comentário"></textarea> -->
    <input type="text" [(ngModel)]="comment" name="comment" id="send-comment" class="txt-send-comment" placeholder="Deixe um comentário">
    <button type="submit" class="btn-send-comment">Comentar</button>
  </form>

</ion-content>
