page-comments {

    #headerSelected {
        background: #4cd137;
        width: 100%;
        height: 46px;
        top: 0;
        left: 0;
        position: fixed;
    }

    #close-options-button {
        font-size: 20px;
        margin-left: 10px;
    }

    .comments {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 40px;
        .like-button {
            position: absolute;
            top: 50%;
            right: 10px;
            padding: 0;
            transform: translateY(-50%);
            margin-right: 5px;
            margin-left: 6px;
            font-size: 17px;
            color: rgba(17, 17, 17, 0.8);
            z-index: 9999;
        }
        #liked2 {
            color: #27ae60;
            -webkit-animation: like2 .25s;
            -moz-animation: like2 .25s;
            animation: like2 .25s;
        }
        #unliked2 {
            -webkit-animation: unlike2 .25s;
            -moz-animation: unlike2 .25s;
            animation: unlike2 .25s;
        }
        
        .comment {
            position: relative;
            width: 100%;
            padding: 6px 0 5px 0 !important;
            .selected {
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(72, 216, 72, .2);
                width: 100%;
                height: 100%;
            }
            .user-info {
                position: relative;
                display: flex;
                width: 100%;
                box-sizing: border-box;
                margin: 0;
                padding: 0 35px 0 5px !important;
                .user-picture {
                    position: relative;
                    height: 34px;
                    width: 34px;
                    border-radius: 50%;
                    border: 1px solid #e1e1e1;
                    margin: 1px 5px 0 5px;
                }
                .text {
                    position: relative;
                    .info {
                        display: flex;
                        overflow: hidden;
                        h1 {
                            font-size: 13px;
                            margin: 3px 3px 0 6px;
                            line-height: 17px;
                            height: 16px;
                            overflow: hidden;
                            font-weight: 600;
                        }
                        p {
                            font-size: 11px;
                            margin: 3px 3px 0 3px;
                            color: #222;
                        }
                    }
                    .comment-info {
                        p {
                            color: #111;
                            font-size: 13px;
                            margin: 2px 6px 2px 6px;
                        }
                        
                        .likes-info {
                            position: relative;
                            display: flex;
                            p {
                                color: #777;
                                font-size: 11px;
                                margin: 0 15px 4px 6px;
                            }
                            .likes {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        

    }


    .comment-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: scroll;
        border-top: 1px solid lightgray;
        display: flex;
        background: #fff;
        z-index: 9999;
        img {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            margin: 5px 12px;
            border: 1px solid lightgray;
        }
        .txt-send-comment {
            position: relative;
            width: 100%;
            border: 0;
            resize: none;
            max-height: 150px;
            margin: auto;
            font-size: 12px;
            background: transparent;
        }
        .btn-send-comment {
            background: transparent;
            padding: 5px 15px;
            font-size: 11px;
        }
    }

    @keyframes like2
    {
        0%  {
            transform: translateY(-50%) scale(1);
        }
        50% {
            transform: translateY(-50%) scale(1.13);
        }
        100% {
            transform: translateY(-50%) scale(1);
        }
    }

    @keyframes unlike2
    {
        0%  {
            transform: translateY(-50%) scale(1);
        }
        50% {
            transform: translateY(-50%) scale(1.13);
        }
        100% {
            transform: translateY(-50%) scale(1);
        }
    }

}
