<!--
  Generated template for the PrincipalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" no-padding>

  <ion-navbar color="{{selectedTheme}}">
    <ion-title text-center>
      <img src="../../assets/imgs/nutring-no-color.png">
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="gotoFotoPage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content #pageContent fullscreen>

  <loader *ngIf="loading"></loader>

  <div *ngIf="!loading" class="principal">

      <div class="title">
          <p>Suas opções customizadas</p>
        </div>

    <div class="refeicoes-custom" >
        
        <div (click)="openMontarPrato(refeicao, 'id_refeicao_usuario')" class="refeicao" *ngFor="let refeicao of refeicoesCustom; let i = index">
          <img *ngIf="!refeicao.foto" src="../../assets/imgs/food2.jpeg">
          <img *ngIf="refeicao.foto" [src]="refeicao.foto">
          <h2>{{refeicao.ds_refeicao}}</h2>
        </div>

        <div (click)="openCriarRefeicao()" class="refeicao">
          <ion-icon name="add"></ion-icon>
          <img src="../../assets/imgs/blur2.jpg">
          <h2>Nova refeição</h2>
        </div>
    </div>

    <div class="title">
      <p>Opções padrões</p>
    </div>

    <div class="opcoes" *ngIf="refeicoesPadroes && refeicoesPadroes.length > 0">
      <div (click)="openMontarPrato(refeicao, 'cd_refeicao')" class="opcao" *ngFor="let refeicao of refeicoesPadroes; let i = index">
        <img [src]="refeicao.foto">
        <h2>{{refeicao.ds_refeicao}}</h2>
      </div>
    </div>
  </div>

</ion-content>
