<ion-header no-padding no-border>

  <ion-navbar color="{{selectedTheme}}">
    <ion-title text-center *ngIf="selectedTheme == 'light-theme'">
      <img src="../../assets/imgs/nutring-color.png">
    </ion-title>
    <ion-title text-center *ngIf="selectedTheme != 'light-theme'">
      <img src="../../assets/imgs/nutring-no-color.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="user.ds_objetivo" class="objetivo objetivo-meta box-shadow-2" [class.hide-objetivo]="!verObjetivo" [class.show-objetivo]="verObjetivo" (click)="editarObjetivo()">
    <ion-icon name="ios-walk"></ion-icon>
    <p *ngIf="user.cd_objetivo == 'MANTER'">Manter o peso</p>
    <p *ngIf="user.cd_objetivo != 'MANTER'">{{user.ds_objetivo}} {{user.vl_objetivo_kg | ntNumberKcal}}kg</p>
  </div>

  <div *ngIf="!user.ds_objetivo" class="objetivo objetivo-meta box-shadow-2" [class.hide-objetivo]="!verObjetivo" [class.show-objetivo]="verObjetivo" (click)="editarObjetivo()">
    <ion-icon name="ios-walk"></ion-icon>
    <p>Definir objetivo</p>
  </div>

  <div *ngIf="user.ds_objetivo" class="objetivo left-0 box-shadow-2" (click)="changeVerObjetivo()">
    <ion-icon *ngIf="verObjetivo" name="ios-eye-off"></ion-icon>
    <ion-icon *ngIf="!verObjetivo" name="ios-eye"></ion-icon>
  </div>

  <div class="foto-top">
    <img src="../../assets/imgs/background-register.png">
  </div>

  <loader *ngIf="loading"></loader>

  <div class="estatisticas-geral" *ngIf="!loading">
    <div class="round">
      <div class="inside">
        <div (click)="abrirDatas()" class="align-center">
          <p>{{dataConsumoSelecionada | ntDateBr}}</p>
          <ion-icon name="ios-arrow-down"></ion-icon>
        </div>
        <div class="align-left">
          <h3 class="dar-margin-top">Calorias</h3>
        </div>
        <div class="align-center">
          <h2 *ngIf="!loadingKcal">{{kcalConsumidas | ntNumberKcal}}</h2>
          <div *ngIf="loadingKcal" style="margin-top: 13px; margin-bottom: 13px;">
            <loaderzin></loaderzin>
          </div>
        </div>
        <div class="align-right">
          <h3>Kcal</h3>
        </div>
        <div *ngIf="kcalDiaria && kcalDiaria - kcalConsumidas >= 0" class="calorias-possiveis great">
          <p>Total a consumir</p>
          <h2>{{kcalDiaria | ntNumberKcal}}</h2>
        </div>
        <div *ngIf="kcalDiaria && kcalDiaria - kcalConsumidas < 0 &&  kcalDiaria - kcalConsumidas > -150" class="calorias-possiveis warning">
          <p>Total a consumir</p>
          <h2>{{kcalDiaria | ntNumberKcal}}</h2>
        </div>
        <div *ngIf="kcalDiaria && kcalDiaria - kcalConsumidas <= -150" class="calorias-possiveis bad">
          <p>Total a consumir</p>
          <h2>{{kcalDiaria | ntNumberKcal}}</h2>
        </div>
      </div>
    </div>
      <div class="buttons">
        <button type="button" class="default-button full green" (click)="goToMontarPrato()">Montar prato</button>
        <button type="button" [disabled]="loadingKcal" class="default-button full green no-color-green" (click)="goToMaisEstatisticas()">Ver mais<ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div>
  </div>

</ion-content>
