nt-searchbar {
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
    .searchbar {
        height: 46px;
        width: 100%;
        position: relative;
        input[type="search"]{
            width: 100%;
            border: 0;
            height: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            background-color: transparent;
            font-size: 16px;
            text-indent: 0;
            color: #222;
            padding-right: 25px;
            text-indent: 55px;
        }
        input[type="search"]::placeholder,
        input[type="search"]::-webkit-input-placeholder {
            color: #888;
        }
    }
    .searchbar .fa{ 
    position: absolute;
    padding: 5px;
    top: 11px;
    left: 15px;
    font-size: 15px;
    color: #222;
    }
    ion-icon {
        position: absolute !important;
        top: 7px !important;
        padding: 5px;
        font-size: 24px !important;
        
        color: #888 !important;
    }
    #left {
        left: 15px !important;
    }
    #right {
        right: 5px !important;
        font-weight: bold;
        
    }
    #on-header {
        input[type="search"]{
            text-indent: 55px;
        }
    }
}
