nt-searchbar {
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
    .searchbar {
        height: 46px;
        width: 100%;
        position: relative;
        input[type="search"]{
            width: 100%;
            border: 0;
            height: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            background-color: transparent;
            font-size: 16px;
            text-indent: 0;
            color: #fff;
        }
        input[type="search"]::placeholder,
        input[type="search"]::-webkit-input-placeholder {
            color: #fff;
        }
    }
    .searchbar .fa{ 
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 15px;
    color: #fff;
    }
    ion-icon {
        position: absolute !important;
        top: 7px !important;
        right: 10px !important;
        font-size: 34px !important;
        font-weight: bold;
        color: #fff !important;
    }
    #on-header {
        input[type="search"]{
            text-indent: 40px;
        }
    }
}
