<div class="searchbar" [id]="onHeader ? 'on-header' : 'not-on-header'">
  <ion-icon id="left" *ngIf="withIcon && !onHeader" name="md-search"></ion-icon>
  <ion-icon id="left" *ngIf="withIcon && onHeader" name="ios-arrow-back" (click)="goBack()"></ion-icon>
  <ion-icon id="right" *ngIf="text.length > 0" name="ios-close-outline" (click)="clear()"></ion-icon>
  <input [style.text-indent]="withIcon ? '55px' : '0'" (focus)="hideTab()" [(ngModel)]="text" name="text" (focusout)="showTab()" type="search"  [(ngModel)]="item" [placeholder]="placeholder" (keyup)="onChange()">
</div>