<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content #pageContent fullscreen>
  
  <loader *ngIf="loading"></loader>
  <div *ngIf="!loading && user">
    <div class="header-profile">
      <div class="back">
        <div class="tabzinha">
          <div class="full left">
          </div>
          <div class="user">
            <h1>{{user.usuario | uppercase}}</h1>
          </div>
          <div class="full end">
            <ion-icon (tap)="goToSettings()" name="ios-settings-outline" color="white"></ion-icon>
          </div>
        </div>
        <img src="../../assets/imgs/nutring-background.png">
      </div>

        <div class="info">
          
          <div class="user-info">
            <img class="user-img" *ngIf="!user.foto" src='../../assets/imgs/user.jpg'>
            <img class="user-img" *ngIf="user.foto" [src]='user.foto'>
            <div class="personal">
              <h1>{{user.nome}}</h1>
              <!-- <h2>@gabryel</h2> -->
              <button type="button" (tap)="editProfile()" class="default-button no-color smaller padding">Editar perfil</button>
            </div>
          </div>
          <div class="almost-tabs">
            <div class="almost-tab">
              <h1>{{user.pratos_feitos}}</h1>
              <div class="info-tab">
                <ion-icon name="ios-restaurant-outline"></ion-icon>
                <h2>PRATOS</h2>
              </div>
            </div>
            <div class="almost-tab">
              <h1>{{user.kcal_pratos | ntNumber}}</h1>
              <div class="info-tab">
                <ion-icon name="ios-heart-outline"></ion-icon>
                <h2>KCAL</h2>
              </div>
            </div>
            <div class="almost-tab">
              <h1>{{user.acessos}}</h1>
              <div class="info-tab">
                <ion-icon name="ios-person-outline"></ion-icon>
                <h2>ACESSOS</h2>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="tabs-profile">
      <div *ngFor="let tab of tabs; let i = index;" class="tab-profile" [id]="tab.selected? 'active': ''" (tap)="selectTab(tab)">
        {{tab.text}}
      </div>
    </div>

    <div class="principal">
      <div class="refeicoes-custom" *ngIf="selectedTab == 'personalizadas'">
          
        <div (click)="openCriarRefeicao()" class="refeicao">
          <ion-icon name="add"></ion-icon>
          <img src="https://images.pexels.com/photos/76093/pexels-photo-76093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="por-cima"></div>
          <div class="info">
            <h2>Nova refeição</h2>
          </div>
        </div>

        <div class="refeicao" *ngFor="let refeicao of refeicoesCustom; let i = index">
          <img *ngIf="!refeicao.foto" src="../../assets/imgs/folhinha_da_macunha.png">
          <img *ngIf="refeicao.foto" [src]="refeicao.foto">
          <div class="info">
            <h2>{{refeicao.ds_refeicao}}</h2>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="timeline" *ngIf="selectedTab == 'pratos'">
      <div class="line"></div>
      <div class="item">
        <div class="date">
          <h1>5:33PM</h1>
        </div>
        <div class="put-ball">
          <div class="ball"></div>
        </div>
        <div class="text">
          <h1>Café da manhã</h1>
          <p>144 KCAL</p>
        </div>
      </div>
      <div class="item">
        <div class="date">
          <h1>5:33PM</h1>
        </div>
        <div class="put-ball">
          <div class="ball"></div>
        </div>
        <div class="text">
          <h1>Almoço</h1>
          <p>333 KCAL</p>
        </div>
      </div>
      <div class="item">
        <div class="date">
          <h1>1:22AM</h1>
        </div>
        <div class="put-ball">
          <div class="ball" style="border: 2px solid #27ae60"></div>
        </div>
        <div class="text">
          <h1>Jantar</h1>
          <p>242 KCAL</p>
        </div>
      </div>
    </div> -->






  </div>





</ion-content>