page-profile {
    ion-tabs {
        display: none !important;
    }

    .tabs {
        display: none !important;
    }

    .tabs.tabs-md.tabs-md-light-theme-tab {
        display: none !important;
    }

    .show-tabbar {
        display: none !important;
    }











    .profile-header {
        transition: .25s linear;
        position: relative;
        height: 180px;
        width: 100%;
        ion-buttons {
            button {
                ion-icon {
                    font-size: 26px;
                }
            }
        }
        .user-data {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .div-user-img {
                position: relative;
                height: 86px;
                width: 86px;
                margin: auto;
                background: transparent;
                border-radius: 50%;
                text-align: center;
                img {
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    margin: auto;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                }
            }
            .info {
                position: relative;
                overflow: hidden;
                h1 {
                    color: #222;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 0;
                    max-height: 18px;
                    overflow: hidden;
                }
                h2 {
                    color: #111;
                    font-size: 12px;
                    margin-top: 3px;
                    max-height: 16px;
                    overflow: hidden;
                }
            }
            
            .stars {
                width: 130px;
                // height: 10px;
                // background: #27ae60;
                // border-radius: 25px;
                margin: auto;
                margin-top: 15px;
            }

            #edit-profile {
                margin-top: 15px;
                height: 30px;
                padding: 0 38px;
                border-radius: 40px !important;
                background: #27ae60;
                color: #fff;
                font-size: 12px;
            }

        }
    }

    .profile-tabs {
        position: relative;
        width: 100%;
        display: flex;
        transition: .3s;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        z-index: 999999;
        .profile-tab {
            text-align: center;
            margin: auto;
            width: 100%;
            padding: 15px;
            transition: .3s;
            ion-icon {
                font-size: 24px;
                color: #ccc;
                transition: .3s;
            }
        }
        .profile-tab.active {
            ion-icon {
                color: #4cd137;
            }
            
        }
    }


    .all-feed {
        .feed-img {
            width: 100%;
            .img{
                overflow: hidden;
                position: relative;
                float: left;
                width: 33%;
                margin: 0.16%;
                vertical-align: middle;
                background: #f3f3f3;
            }
            .img:before{
                content: "";
                display: block;
                padding-top: 100%;
            }
            .content{
                position:  absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                object-fit: cover;
                min-width: 100%;
                min-height: 100%;
            }
        }
    }


    .input-user-info {
        background: transparent;
        border: 0;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    ion-item {
        h2 {
            font-size: 12px !important;
            font-weight: bold !important;
        }
        p {
            font-size: 13px !important;
        }
        h3 {
            font-size: 14px !important;
        }
    }

}



//DARK THEME
.dark-theme {
    .profile-header {
        .user-data {
            .div-user-img {
                background: transparent;
            }
            .info {
                h1 {
                    color: #eee;
                }
                h2 {
                    color: #eee;
                }
            }
    
        }
    }
}