<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header class="header-segment">

  <ion-navbar color="{{selectedTheme}}" no-border-bottom>
    <ion-title text-left>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateUser()">
        <ion-icon name="checkmark" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> -->
  <!-- <ion-toolbar color="{{selectedTheme}}" no-border-top>
    <ion-segment  [(ngModel)]="page">
      <ion-segment-button value="pessoais">
        Dados pessoais
      </ion-segment-button>
      <ion-segment-button value="opcionais">
        Opcionais
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

<!-- </ion-header> -->


<ion-content>
  <div *ngIf="user">

      <div class="profile-header">

          <ion-buttons end>
            <button ion-button style="background: none; box-shadow: none;" (click)="openSettings()">
              <ion-icon name="settings"></ion-icon>
            </button>
          </ion-buttons>

          <div class="user-data">
            <div class="div-user-img">
              <img class="user-img" *ngIf="!user.foto" src="../../assets/imgs/user.jpg">
              <img class="user-img" *ngIf="user.foto" [src]='user.foto'>
            </div>
            
            <h1>{{user.nome}}</h1>
            <h2>{{user.idade}} anos</h2>
            <div class="div-percentage-day">
              <ion-icon *ngFor="let star of stars" [name]="star.star" color="white"></ion-icon>
            </div>
            <button type="button" id="edit-profile" (click)="editProfile()">Editar perfil</button>
          </div>
      
        </div>
      
        <div class="profile-info">
            <ion-list>
              <ion-item>
                <ion-icon name="checkmark" color="success" item-start></ion-icon>
                <h2>Dias na meta</h2>
                <p>dias</p>
                <h3 item-end>3</h3>
              </ion-item>
        
              <ion-item>
                <ion-icon name="ios-restaurant-outline" color="secondary" item-start></ion-icon>
                <h2>Pratos montados</h2>
                <p>quantidade</p>
                <h3 item-end>15</h3>
              </ion-item>
        
              <ion-item>
                <ion-icon name="heart" color="pink" item-start></ion-icon>
                <h2>Calorias consumidas</h2>
                <p>calorias</p>
                <h3 item-end>1764</h3>
              </ion-item>
            </ion-list>
        </div>

    <!-- <ion-list *ngIf="page == 'pessoais'">

      <ion-item>
        <ion-label stacked>Nome Completo</ion-label>
        <ion-input [(ngModel)]="user.nome" name="nome" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Telefone</ion-label>
        <ion-input type="text" [(ngModel)]="user.telefone" name="telefone" [brmasker]="{phone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input disabled [(ngModel)]="user.email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Sexo</ion-label>
        <ion-select [(ngModel)]="user.sexo" name="sexo">
          <ion-option value="F">Feminino</ion-option>
          <ion-option value="M">Masculino</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data de nascimento</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="user.dt_nasc" name="dt_nasc" 
        style="border-bottom: 1px solid rgb(222, 222, 222)">
      </ion-datetime>
      </ion-item>

      <div padding>
        <button *ngIf="!loadingPersonal" ion-button full (click)="updateUserPersonalInfo()">SALVAR</button>
        <button *ngIf="loadingPersonal" ion-button full><ion-spinner color="white" name="bubbles"></ion-spinner></button>
      </div>

    </ion-list>

    <ion-list *ngIf="page == 'opcionais'">



      <ion-item>
        <ion-icon name="body" item-start></ion-icon>
        <ion-label stacked>Peso</ion-label>
        <ion-input type="text" name="peso_kg" (keypress)="validNumericField(user.peso_kg)" [(ngModel)]="user.peso_kg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="man" item-start></ion-icon>
        <ion-label stacked>Altura</ion-label>
        <ion-input type="text" name="altura_m" (keypress)="validNumericField(user.altura_m)" [(ngModel)]="user.altura_m"></ion-input>
      </ion-item>

      <div padding>
        <button *ngIf="!loadingOptional" ion-button full (click)="updateUserOptionalInfo()">SALVAR</button>
        <button *ngIf="loadingOptional" ion-button full><ion-spinner color="white" name="bubbles"></ion-spinner></button>
      </div>

    </ion-list> -->

  </div>

</ion-content>
