<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-segment" no-border>

  <ion-navbar color="{{selectedTheme}}" no-border-bottom>
    <ion-title text-left>Perfil</ion-title>
    <ion-buttons end>
      <button id="ver-perfil" color="primary" ion-button (tap)="editProfile()">
        Editar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content-profile">
  <div *ngIf="user">

    <div class="profile-header">


      <div class="user-data">
        <div class="div-user-img">
          <img class="user-img" *ngIf="!user.foto" src="../../assets/imgs/user.jpg">
          <img class="user-img" *ngIf="user.foto" [src]='user.foto'>
        </div>
        <div class="info">
          <h1>{{user.nome}}</h1>
          <h2>{{user.idade}} anos</h2>
        </div>
        
        <!-- <div class="div-percentage-day">
          <ion-icon *ngFor="let star of stars" [name]="star.star" color="white"></ion-icon>
        </div> -->
        <!-- <button type="button" id="edit-profile" (tap)="editProfile()">Editar perfil</button> -->
      </div>

    </div>
    <div class="profile-tabs">
      <div *ngFor="let tab of tabs" (tap)="selectTab(tab)" class="profile-tab" [class.active]="tab.selected">
        <ion-icon [name]="tab.image"></ion-icon>
      </div>
    </div>

    <div *ngIf="selectedTab == 'user'" class="profile-info">
      <ion-list>
        <ion-item>
          <h2>Nome</h2>
          <p>{{user.nome}}</p>
        </ion-item>

        <ion-item>
          <h2>Data de nascimento</h2>
          <p>{{user.dt_nasc | ntDate}}</p>
        </ion-item>

        <ion-item>
          <h2>Sexo</h2>
          <p>{{user.sexo | ntGender}}</p>
        </ion-item>
        
        <ion-item>
          <h2>Telefone</h2>
          <p>{{user.telefone}}</p>
        </ion-item>

        <ion-item>
          <h2>E-mail</h2>
          <p>{{user.email}}</p>
        </ion-item>

        <ion-item>
          <h2>Usuário</h2>
          <p>{{user.usuario}}</p>
        </ion-item>

        <ion-item>
          <h2>Peso</h2>
          <p>{{user.peso_kg | ntNumber}}kg</p>
        </ion-item>

        <ion-item>
          <h2>Altura</h2>
          <p>{{user.altura_m | ntNumber}}m</p>
        </ion-item>

      </ion-list>
    </div>

    <!-- <div *ngIf="selectedTab == 'food'" class="profile-info">
      <div class="all-feed">
        <div class="feed-img" >
          <div class="img" *ngFor="let userPost of posts">
            <img class="content" [src]='userPost.foto' (tap)="openPostComments(userPost)" (dblclick)="likeUnlikePost(post)">
          </div>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> -->

    <div *ngIf="selectedTab == 'info'" class="profile-info">
      <ion-list>
        <!-- <ion-item>
          <ion-icon name="checkmark" color="success" item-start></ion-icon>
          <h2>Dias na meta</h2>
          <p>dias</p>
          <h3 item-end>3</h3>
        </ion-item> -->

        <ion-item>
          <ion-icon name="ios-restaurant-outline" color="secondary" item-start></ion-icon>
          <h2>Pratos montados</h2>
          <p>quantidade</p>
          <h3 item-end>{{user.pratos_feitos}}</h3>
        </ion-item>

        <ion-item>
          <ion-icon name="heart" color="pink" item-start></ion-icon>
          <h2>Calorias consumidas</h2>
          <p>kcal</p>
          <h3 item-end>{{user.kcal_pratos | ntNumber}}</h3>
        </ion-item>

      </ion-list>
    </div>

  </div>

</ion-content>