<ion-content>
  <ion-slides *ngIf="slides" pager>
    <ion-slide *ngFor="let slide of slides; let i = index">
      <div *ngIf="i == 0" class="intro-background intro1"></div>
      <div *ngIf="i == 1" class="intro-background intro2"></div>
      <div *ngIf="i == 2" class="intro-background intro3"></div>
      <div *ngIf="i == 3" class="intro-background intro4"></div>
      <div class="padding-intro">
        <img [src]="slide.image" class="slide-image" />
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
        <button type="button" (click)="closeIntroduction()" *ngIf="i == 3" class="default-button full no-color-green">Continuar</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>