page-timeline {

    ion-title {
        img {
            margin-top: 3px;
            max-height: 28px;
        }
    }


    .user-info-day {
        position: relative;
        width: 100%;
        padding: 20px 15px;
        border-bottom: 1px solid #eee;
        .info-day {
            position: relative;
            width: 100%;
            display: flex;
            .inside-info-day {
                width: 50px;
                p {
                    font-weight: bold;
                    font-size: 12px;
                    margin: 0;
                }
            }
            .barra-info {
                position: relative;
                width: calc(100% - (50px * 2));
                height: 20px;
                border-radius: 10px;
                text-align: center;
                .real-barra {
                    position: relative;
                    width: calc(100% - 20px);
                    height: 100%;
                    margin: auto;
                    border-radius: 10px;
                    border: 1px solid #eee;
                    overflow: hidden;
                }
                .percent-barra {
                    position: absolute;
                    min-width: 3% !important;
                    width: 20%;
                    top: 0;
                    left: 0;
                    height: 100%;
                    border-radius: 10px 0 0 10px;
                    // border-right: 1px solid #eee;
                    background: #32aa22; /* Old browsers */
                    background: -moz-linear-gradient(top, #32aa22 0%, #67a559 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #32aa22 0%,#67a559 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #32aa22 0%,#67a559 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32aa22', endColorstr='#67a559',GradientType=0 );
                }
            }
        }
        .kcal-info {
            position: relative;
            width: 100%;
            text-align: center;
            padding-top: 5px;
            p {
                margin: 0;
                font-weight: bold;
                color: #ccc;
                font-size: 11px;
                letter-spacing: 1.1px;
            }
        }
    }






    .date-change {
        position: relative;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        .icon {
            ion-icon {
                font-size: 16px;
                color: #111;
            }
        }
        .datetime {
            color: #777;
            ion-icon {
                color: #777;
            }
        }
    }










    //TIME FUCKING LINE
    .timeline {
        position: relative;
        width: 100%;
        overflow: hidden;
        .line {
            position: absolute;
            top: 0;
            left: calc(75px + 30px/2);
            height: 100vh;
            width: 1px;
            background: #ddd;
        }
        .item {
            position: relative;
            display: flex;
            padding: 20px 0;
            .date {
                position: relative;
                width: 75px;
                text-align: center;
                h1 {
                    margin: 0;
                    font-size: 11px;
                    color: #333;
                    letter-spacing: 1.5px;
                }
            }
            .put-ball {
                position: relative;
                width: 30px;
                text-align: center;
                .ball {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 2px solid #27ae60;
                    background: #fff;
                    margin: auto;
                }
            }
            .text {
                position: relative;
                width: calc(100% - 30px - 75px);
                box-sizing: border-box;
                padding: 0 18px 0 26px;
                h1, p {
                    margin: 0;
                }
                h1 {
                    font-size: 15px;
                    margin-bottom: 3px;
                }
                p {
                    font-size: 9.5px;
                    letter-spacing: 1.5px;
                    color: #aaa;
                }
            }
        }
    }



}
