<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>

  <div class="homepage-header">

    <div class="user-data">
      <div class="div-user-img">
        <img class="user-img" *ngIf="!user.foto" src="../../assets/imgs/user.jpg">
        <img class="user-img" *ngIf="user.foto" [src]='user.foto'>
      </div>
      
      <h1>{{user.nome}}</h1>
      <h2>{{user.idade}} anos</h2>
      <div class="div-percentage-day">
        <ion-icon *ngFor="let star of stars" [name]="star.star" color="white"></ion-icon>
      </div>
    </div>

  </div>

  <div class="homepage-info">
    <ion-list>
      <ion-item>
        <ion-icon name="checkmark" color="success" item-start></ion-icon>
        <h2>Dias na meta</h2>
        <p>dias</p>
        <h3 item-end>3</h3>
      </ion-item>

      <ion-item>
        <ion-icon name="ios-restaurant-outline" color="secondary" item-start></ion-icon>
        <h2>Pratos montados</h2>
        <p>quantidade</p>
        <h3 item-end>15</h3>
      </ion-item>

      <ion-item>
        <ion-icon name="heart" color="pink" item-start></ion-icon>
        <h2>Calorias consumidas</h2>
        <p>calorias</p>
        <h3 item-end>1764</h3>
      </ion-item>
    </ion-list>
  </div>

    

    <!-- <ion-list>
      <ion-item text-center>

        <h1>Bem vindo {{user.nome}}!</h1>
        <img [src]='user.foto' width="192" height="192" style="border-radius: 50%">

        <loader *ngIf="loading"></loader>
        <h1><strong>Performance</strong></h1>
        <ion-grid>
          <ion-row>
            <ion-col>
              Hoje
              <div padding-top>
                <chart [percent]="55" [color]="waterChartColor" [img]="imgTeste" [size]="sizeTeste" (click)="gotoHistorico()"></chart>
              </div>
            </ion-col>
            <ion-col>
              Essa semana
              <div padding-top>
                <chart [percent]="55" [color]="waterChartColor"></chart>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>

        <hr>
        <h1> Detalhes da Performance</h1>
        meta de calorias do dia : {{kcalMeta}}
      </ion-item>
    </ion-list> -->
</ion-content>