<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="{{selectedTheme}}">



    <ion-title text-left>
      <img src="../../assets/imgs/nutring-no-color.png">
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="gotoFotoPage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <loader *ngIf="loading && (!posts || (posts && posts.length == 0))"></loader>

  <div class="feed" *ngIf="!loading || (posts && posts.length > 0)">
    <div *ngFor="let post of posts; let i = index">
      <div class="feed-info">
        <div (click)="visitUserPage(post)" class="user-info">
            <img *ngIf="!post.foto" class="user-picture" src="../../assets/imgs/user.jpg">
            <img *ngIf="post.foto" class="user-picture" [src]="post.foto">
            <div class="text">
              <h1>{{ post.nome }}</h1>
              <p>5h atrás</p>
            </div>
        </div>
        
        <div class="post-info">
            <img class="info-picture" [src]="post.post">
        </div>
        
        <div class="tabs-info">
          <div (click)="likeUnlikePost(post)" class="tab">
              <div class="align">
                <ion-icon [id]="post.gostei ? 'liked' : 'unliked'" name="md-thumbs-up"></ion-icon>
                <p [class]="post.gostei ? 'liked' : ''">Gostei</p>
              </div>
          </div>
          <div (click)="openPostComments(post)" class="tab">
            <div class="align">
              <ion-icon name="md-chatbubbles"></ion-icon>
              <p>Comentar</p>
            </div>
          </div>
        </div>
        <div class="description-info">
            <h2 *ngIf="!post.curtidas || (post.curtidas && post.curtidas == 0)">Seja o primeiro a curtir</h2>
          <h2 (click)="getCurtidores(post)" *ngIf="post.curtidas && post.curtidas == 1">{{ post.curtidas | curtidas }} curtida</h2>
          <h2 (click)="getCurtidores(post)" *ngIf="post.curtidas && post.curtidas > 1">{{ post.curtidas | curtidas }} curtidas</h2>
          <div (click)="seeComments(post)">
            <p>{{ post.descricao }}</p>
          </div>
        </div>
        <div (click)="seeComments(post)" *ngIf="post.comentarios && post.comentarios > 0" class="comment-info">
          <p>Ver todos os {{post.comentarios}} comentários</p>
        </div>
        <form class="comment-bar" (ngSubmit)="commentPost(post)">
          <img [src]="user.foto">
          <!-- <textarea class="txt-send-comment" placeholder="Deixe um comentário"></textarea> -->
          <ion-input type="text" [(ngModel)]="post.actualComment" name="actualComment" id="send-comment" class="txt-send-comment" placeholder="Deixe um comentário"></ion-input>
          <button type="submit" class="btn-send-comment">Comentar</button>
        </form>
      </div>
      <div *ngIf="i < posts.length - 1" class="divider"></div>
    </div>
    
  </div>
  
</ion-content>