page-home {

    ion-title {
        img {
            margin-top: 3px;
            max-height: 24px;
        }
    }

    .feed {
        position: relative;
        width: 100%;
        .divider {
            position: relative;
            background: #eee;
            height: 22px;
            width: 100%;
        }
        .feed-info {
            position: relative;
            width: 100%;
            margin: 12px 0 0 0;
            .user-info {
                position: relative;
                display: flex;
                width: 100%;
                box-sizing: border-box;
                margin: 0;
                padding: 0 5px 5px 5px;
                .user-picture {
                    position: relative;
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                    border: 1px solid #e1e1e1;
                    margin: 1px 5px 0 5px;
                }
                .text {
                    position: relative;
                    h1 {
                        font-size: 13px;
                        margin: 3px 6px 2px 6px;
                        font-weight: lighter;
                    }
                    p {
                        font-size: 11px;
                        margin: 2px 6px 3px 6px;
                        color: #222;
                    }
                }
            }
            
            .post-info {
                .info-picture {
                    position: relative;
                    width: 100%;
                    max-height: 80%;
                }
            }
            .tabs-info {
                position: relative;
                width: 100%;
                display: flex;
                text-align: center;
                border-bottom: 1px solid lightgray;
                .tab {
                    position: relative;
                    width: 100%;
                    display: flex;
                    padding: 10px;
                    box-sizing: border-box;
                    text-align: center;
                    .align {
                        display: flex;
                        text-align: center;
                        margin: auto;
                        .liked {
                            color: #27ae60;
                        }
                        #liked {
                            color: #27ae60;
                            -webkit-animation: like .55s;
                            -moz-animation: like .55s;
                            animation: like .55s;
                        }
                        #unliked {
                            -webkit-animation: unlike .55s;
                            -moz-animation: unlike .55s;
                            animation: unlike .55s;
                        }
                        p {
                            margin: 0;
                            margin-left: 6px;
                            color: #555;
                            transition: .15s;
                            font-size: 11px;
                        }
                        ion-icon {
                            font-size: 16px;
                            color: #555;
                            transition: .15s;
                        }
                    }
                    
                }
            }
            .description-info {
                position: relative;
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
                display: block;
                h2 {
                    font-size: 12px;
                    font-weight: 700;
                    margin: 10px 0 0 0;
                }
                p {
                    color: #111;
                    font-size: 13px;
                    margin: 7px 0;
                    line-height: 20px;
                    
                }
            }

            .comment-info {
                position: relative;
                width: 100%;
                padding: 0 10px;
                box-sizing: border-box;
                display: flex;
                p {
                    margin: 0;
                    margin-right: 5px;
                    font-size: 12px;
                    color: #777;
                }
            }

            .comment-bar {
                position: relative;
                width: 100%;
                overflow: scroll;
                display: flex;
                background: #fff;
                z-index: 9999;
                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    margin: 5px 8px;
                    border: 1px solid lightgray;
                }
                .txt-send-comment {
                    position: relative;
                    width: 100%;
                    border: 0;
                    resize: none;
                    max-height: 150px;
                    margin: auto;
                    font-size: 12px;
                    background: transparent;
                }
                .btn-send-comment {
                    background: transparent;
                    padding: 5px 15px;
                    font-size: 11px;
                }
            }
            
        }
    }

    @keyframes like
    {
        0%  {
            transform: rotate(0) translateY(0);
        }
        50% {
            transform: rotate(-35deg) translateY(-5px);
        }
        100% {
            transform: rotate(0) translateY(0);
        }
    }

    @keyframes unlike
    {
        0%  {
            transform: rotate(0) translateY(0);
        }
        50% {
            transform: rotate(-35deg) translateY(-5px);
        }
        100% {
            transform: rotate(0) translateY(0);
        }
    }
    

}
