page-edit-profile {
  ion-input {
    border-bottom: 1px solid lightgray !important;
    font-size: 13px !important;
  }
  ion-select {
    font-size: 13px !important;
    border-bottom: 2px solid lightgray;
  }
  .div-user-img {
    position: relative;
    height: 106px;
    width: 106px;
    margin: auto;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    img {
      position: absolute;
      left: 3px;
      top: 3px;
      margin: auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  #btnFoto {
    color: #27ae60;
  }
}
