<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="{{selectedTheme}}">
    <ion-title text-left>Editar perfil</ion-title>

    <ion-buttons end>
      <button *ngIf="!loading" ion-button (tap)="updateUserInfo()">
        <ion-icon name="checkmark" color="primary"></ion-icon>
      </button>
      <button *ngIf="loading" ion-button>
        <ion-note item-end color="white">
          <ion-spinner color="primary"></ion-spinner>
        </ion-note>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-padding no-border>
    <ion-item padding-right class="align-center">
      <div class="div-user-img">
        <!-- <img class="user-img" *ngIf="!user.foto" src="../../assets/imgs/user.jpg"> -->
        <img class="user-img" *ngIf="(picture == '')" src='../../../assets/imgs/user.jpg'>
        <img class="user-img" *ngIf="user.foto != '' && picture == ''" [src]='user.foto'>
        <img class="user-img" *ngIf="picture != ''" [src]='picture'>
      </div>
      <button id="btnFoto" type="button" (tap)="openGaleria()" class="default-button padding transparent">Alterar foto</button>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Nome Completo</ion-label>
      <ion-input [(ngModel)]="user.nome" name="nome" type="text"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="user.telefone" name="telefone" [brmasker]="{phone: true}"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>E-mail</ion-label>
      <ion-input disabled [(ngModel)]="user.email" name="email" type="email"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Sexo</ion-label>
      <ion-select [(ngModel)]="user.sexo" name="sexo">
        <ion-option value="F">Feminino</ion-option>
        <ion-option value="M">Masculino</ion-option>
      </ion-select>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Data de nascimento</ion-label>
      <ion-input autocomplete="off" type="text" maxlength="10" [(ngModel)]="dt_nasc" name="dt_nasc" (keyup)="transformDtNasc($event); validFields()"
        (keypress)="validateKeyDtNasc($event)"></ion-input>
      <!-- <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="user.dt_nasc" name="dt_nasc" style="border-bottom: 1px solid rgb(222, 222, 222)"> -->
      <!-- </ion-datetime> -->
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Peso</ion-label>
      <ion-input type="text" name="peso_kg" (keypress)="validNumericField(user.peso_kg)" [(ngModel)]="user.peso_kg"></ion-input>
    </ion-item>

    <ion-item padding-right>
      <ion-label stacked>Altura</ion-label>
      <ion-input type="text" name="altura_m" (keypress)="validNumericField(user.altura_m)" [(ngModel)]="user.altura_m"></ion-input>
    </ion-item>

    <!-- <ion-item (tap)="openUpdateLoginInfo()" padding>
      <ion-icon name="finger-print" item-start></ion-icon>Alterar informações de acesso
    </ion-item> -->

  </ion-list>

</ion-content>