<!--
  Generated template for the InfoPratoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-segment" no-border>

  <ion-navbar color="{{selectedTheme}}" no-border-bottom>
    <ion-title text-left>Informações</ion-title>
    <ion-buttons end>
      <button id="teste" ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>

  <ion-toolbar color="{{selectedTheme}}" no-border-top>
    <ion-segment  [(ngModel)]="page">
      <ion-segment-button value="alimentos" style="color: #27ae60">
        Alimentos
      </ion-segment-button>
      <ion-segment-button value="nutricionais" style="color: #27ae60">
        Nutricionais
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
  <loader *ngIf="loading"></loader>
  <div *ngIf="prato && foods && foods.length > 0 && !loading">

  <ion-card *ngIf="page == 'alimentos'">

    <ion-card-content>
      <ion-card-title>
        Alimentos
      </ion-card-title>
      <p>
        Todos os alimentos da sua refeição.
      </p>
    </ion-card-content>

    <ion-item (click)="openFoodInfo(food)" *ngFor="let food of foods">
        <ion-avatar item-start>
          <img [src]="food.img_url">
        </ion-avatar>
      {{food.nome}}
      <ion-badge item-end>{{food.porcao_consumo}} g</ion-badge>
    </ion-item>

  </ion-card>

  <ion-card *ngIf="page == 'nutricionais'">
  
      <ion-card-content>
        <ion-card-title>
          Informações Nutricionais
        </ion-card-title>
        <p>
          Saiba as calorias, proteínas e outras informações do seu prato.
        </p>
      </ion-card-content>
  
      <ion-item>
        Cálcio
        <ion-badge item-end>{{prato.calcio_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Calorias
        <ion-badge item-end>{{prato.kcal_consumo | number:'1.0-2'}} kcal</ion-badge>
      </ion-item>

      <ion-item>
        Carboidratos
        <ion-badge item-end>{{prato.carboidrato_consumo | number:'1.0-2'}} g</ion-badge>
      </ion-item>

      <ion-item>
        Cobre
        <ion-badge item-end>{{prato.cobre_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Ferro
        <ion-badge item-end>{{prato.ferro_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Fibra
        <ion-badge item-end>{{prato.fibra_alimentar_consumo | number:'1.0-2'}} g</ion-badge>
      </ion-item>

      <ion-item>
        Fósforo
        <ion-badge item-end>{{prato.fosforo_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Lipídios
        <ion-badge item-end>{{prato.lipideos_consumo | number:'1.0-2'}}%</ion-badge>
      </ion-item>

      <ion-item>
        Magnésio
        <ion-badge item-end>{{prato.magnesio_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Manganês
        <ion-badge item-end>{{prato.manganes_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Potássio
        <ion-badge item-end>{{prato.potassio_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Proteínas
        <ion-badge item-end>{{prato.proteina_consumo | number:'1.0-2'}} g</ion-badge>
      </ion-item>

      <ion-item>
        Sódio
        <ion-badge item-end>{{prato.sodio_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>

      <ion-item>
        Vitamina C
        <ion-badge item-end>{{prato.vitamina_c_consumo | number:'1.0-2'}}%</ion-badge>
      </ion-item>

      <ion-item>
        Zinco
        <ion-badge item-end>{{prato.zinco_consumo | number:'1.0-2'}} mg</ion-badge>
      </ion-item>
  
    </ion-card>

  </div>

  <modal *ngIf="popupDelete" [loading]="loadingDelete" [btnConfirm]="'Excluir'"
  (onCancel)="popupDelete = false" (onConfirm)="deletePrato()" [text]="deleteText"
  [title]="'Confirmação'" [color]="'red'"></modal>

  <modal *ngIf="popupCheck" [btnConfirm]="'Ok'" type="check"
  (onConfirm)="goToHistorico()" [text]="checkText"
  [title]="'Concluído!'"></modal>
  
</ion-content>
