.light-theme {
  ion-content {
    background: #fff;
    transition: .3s;
  }

  ion-item {
    background: #fff;
    transition: .3s;
  }

  ion-navbar {
    ion-title {
      color: #fff !important;
    }
  }

  ion-list-header {
    background: #fff;
    transition: .3s;
    button {
      background: transparent;
      color: #222;
      box-shadow: none;
    }
  }

  ion-card {
    border-top: 1px solid #eee;
    ion-card-content {
      border-bottom: 1px solid #eee;
      ion-item {
        border: 0 !important;
      }
    }
    ion-item {
      border: 0 !important;
    }
  }





      /* ------------------------------
    ------------------------------
    ---------------------------------
    ----------------------------------
    ---------------------------------*/





    //TELA DE MONTAR PRATO
  .food-select-dropdown {
    background: #eee;
    ion-list-header {
        background: #eee !important;
    }
    ion-item {
        background: #eee !important;
    }
  }




    // CARD DE VISUALIZAÇÃO NA TELA MEUS PRATOS
    .inner {
      border: 0 !important;
      background: #fff;
      .card-prato {
        background: #fff;
        box-shadow: none;
        border: 0 !important;
        ion-card-content {
          background: #fff;
        }
        .inner-card-prato {
          box-shadow: 0 7px 4px #777;
          border: 1px solid #dedede;
        }

        ion-item {
          background: #fff;
        }

      }
    }

    ion-segment-button {
      color: #fff !important;
    }
   
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated, .segment-ios .segment-button {
      border-color: #fff !important;
      color: #fff !important;
    }

    .segment-ios .segment-button.segment-activated {
      background: #fff !important;
      color: #27ae60 !important;
      border-color: #fff !important;
    }


    .segment-md .segment-button {
      color: #fff !important;
    }

    .header-segment {
      background: #aaa !important;
    }



    //CIRCLE BACKGROUND
    .c100:after {
      background-color: transparent;
    }

    .no-img-chart-nt {
      background: #fff;
    }








    //HISTORICO DOS PRATOS
    .date-pratos {
      border-right: 1px solid #eee;
      .selected {
        background: #f3f3f3;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        h1 {
          color: #111 !important;
        }
        h2 {
            color: #777 !important;
        }
      }
    }
    
    .padding-prato {
      border-bottom: 2px solid #eee;
      h1 {
        color: #222;
      }
    }

}