.dark-theme {
    ion-content {
      background: #4b4b4b;
      transition: .3s;
    }

    ion-item {
      background: #4b4b4b;
      color: #fff;
      transition: .3s;
    }

    ion-list-header {
      background: #4b4b4b;
      color: #fff;
      transition: .3s;
      button {
        background: transparent;
        color: white;
        box-shadow: none;
      }
    }

    ion-header {
      ion-navbar {
        background: #000;
      }
    }

  }
