.dark-theme {
    ion-content {
      background: #4b4b4b;
      transition: .3s;
    }

    ion-item {
      background: #4b4b4b;
      color: #fff;
      transition: .3s;
      border: 0 !important;
      p {
        color: #aeaeae;
      }
    }
    
    ion-card {
      ion-card-content {
        background: #555555;
        ion-card-title {
          color: #fff;
          font-family: Roboto Condensed, sans-serif;
        }
        p {
          color: #aeaeae;
        }
        ion-item {
          background: #555555;
          color: #fff;
          transition: .3s;
          border: 0 !important;
          p {
            color: #aeaeae;
          }
          h2 {
            color: #fff;
          }
        }
      }
      ion-item {
        background: #555555;
        color: #fff;
        transition: .3s;
        border: 0 !important;
        p {
          color: #aeaeae;
        }
      }
    }

    ion-list-header {
      background: #4b4b4b;
      color: #fff;
      transition: .3s;
      button {
        background: transparent;
        color: white;
        box-shadow: none;
      }
    }

    ion-header {
      ion-navbar {
        background: #000;
      }
    }





    /* ------------------------------
    ------------------------------
    ---------------------------------
    ----------------------------------
    ---------------------------------*/





    //TELA DE MONTAR PRATO
    .food-select-dropdown {
      background: #777;
      ion-list-header {
          background: #777 !important;
          margin: 0 !important;
          border: 0 !important;
      }
      ion-item {
          background: #777 !important;
          border: 0 !important;
          ion-range {
            border: 0 !important;
          }
      }
    }



    // CARD DE VISUALIZAÇÃO NA TELA MEUS PRATOS
    .inner {
      background: #4b4b4b;
      .card-prato {
        background: #4b4b4b;
        box-shadow: none;
        ion-card-content {
          background: #404040;
        }
        .inner-card-prato {
          box-shadow: 0 7px 4px #222;
        }

        ion-item {
          background: #404040;
        }

      }
    }

    .header-segment {
      background: #101010 !important;
    }

    
  }
