.dark-theme {
    ion-content {
      background: #4b4b4b;
      transition: .3s;
    }

    ion-item {
      background: #4b4b4b;
      color: #fff;
      transition: .3s;
    }

    ion-list-header {
      background: #4b4b4b;
      color: #fff;
      transition: .3s;
    }

    ion-header {
      ion-navbar {
        background: #000;
      }
    }

  }
