.light-theme {
  ion-content {
    background: #fff;
    transition: .3s;
  }

  ion-item {
    background: #fff;
    transition: .3s;
  }

  ion-list-header {
    background: #fff;
    transition: .3s;
    button {
      background: transparent;
      color: #222;
      box-shadow: none;
    }
  }

  .food-select-dropdown {
    background: #eee;
    ion-list-header {
        background: #eee !important;
    }
    ion-item {
        background: #eee !important;
    }
  }
   
}