// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import "theme.light";
@import "theme.dark";
@import "circle.scss";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #27ae60,
  success:    #4cd137,
  secondary:  #488aff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:        #fff,
  dark:       #222,
  fb:      #3b5998,
  dark-theme: #202020,
  dark-theme-tab: #202020,
  light-theme: #fff,
  light-theme-tab: #fff,
  transparent: transparent,
  lightgray: #ccc,
  claro: #ddd,
  pink: #e84393,
);

$toolbar-background: #27ae60;
$searchbar-ios-padding-horizontal:0px !important;
$searchbar-md-padding-top:0px !important;
$searchbar-md-padding-bottom:0px !important;
$searchbar-md-padding-start:0px !important;
$searchbar-md-padding-end:0px !important;
$searchbar-md-input-height:20px !important;
$searchbar-ios-min-height:20px !important;
$searchbar-md-input-height:0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
$searchbar-md-input-border-radius:0px !important;
$searchbar-md-input-line-height:30px !important;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

ion-navbar {
  ion-title {
    text-align: center;
    // font-family: Roboto Condensed, sans-serif !important;
    // font-family: 'Gamja Flower', cursive !important;
    font-family: 'Acme', sans-serif !important;
    font-weight: bold !important;
  }
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif !important;
}

button {
  font-family: Roboto Condensed, sans-serif !important;
}

ion-navbar.toolbar {
  min-height: 51px;
  height: 51px;
}

$toolbar-ios-title-font-size: 17.7px;
$toolbar-md-title-font-size: 17.7px;
$toolbar-wp-title-font-size: 17.7px;

// $tabs-ios-tab-min-height: 76px;
// $tabs-md-tab-min-height: 76px;
// $tabs-wp-tab-min-height: 76px;

$tabs-ios-tab-font-size: 12px;
$tabs-md-tab-font-size: 12px;
$tabs-wp-tab-font-size: 12px;

$tabs-ios-tab-icon-size: 24px;
$tabs-md-tab-icon-size: 24px;
$tabs-wp-tab-icon-size: 24px;


$toggle-ios-width: 45px;
$toggle-ios-height: 27px;

// .tab-button {
//   min-height: 50px !important;
// }



.tabbar {
	a.tab-button[aria-selected=true] {
		color: color($colors,primary);
		.tab-button-icon {
			color: color($colors,primary);
		}
	}
}

body.keyboard-is-open .hide-on-keyboard-open {
  display: none;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
