<!--
  Generated template for the SugestaoAlimentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="{{selectedTheme}}">
    <ion-title text-left>Sugira um Alimento</ion-title>
  </ion-navbar>


</ion-header>


<ion-content>
  <form (ngSubmit)="sendMessageToNutring()" *ngIf="user">
    <ion-card>

      <ion-card-content>
        <ion-card-title>
          {{user.nome}},
        </ion-card-title>
        <p>
          Todos os dias trabalhamos para que sua experiência no Nutring seja a melhor possível, e se você quiser pode
          fazer parte disso!
          Nos escreva sugestões de alimentos que você deseja ver na plataforma.
          Será muito rápido, só precisamos do nome do alimento e uma descrição, que é opcional.
        </p>
      </ion-card-content>
      <ion-item>
          <ion-label floating>Nome do Alimento</ion-label>
          <ion-input [(ngModel)]="alimento_nome" name="alimento_nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-textarea [(ngModel)]="descricao" name="descricao" rows="4"></ion-textarea>
      </ion-item>

    </ion-card>
    <div padding text-right>
      <button type="submit" [disabled]="alimento_nome.length < 3" class="default-button green full" *ngIf="!loading">Enviar</button>
      <button *ngIf="loading" class="default-button green full"><ion-spinner color="white" name="dots"></ion-spinner></button>
    </div>
  </form>
  


</ion-content>