modal {

    .backgroundModal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        .popup {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 35px 25px;
            width: 245px;
            text-align: center;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
            .header {
                position: relative;
                width: 100%;
                padding-bottom: 10px;
                img {
                    width: 60px;
                    height: auto;
                }
                h1 {
                    font-size: 13px;
                    font-weight: bold;
                    margin: 5px 0 22px 0;
                }
                h2 {
                    font-size: 13px;
                    line-height: 18px;
                    b {
                        font-weight: bold;
                    }
                }
            }
            .buttons {
                button {
                    margin: 5px 2px;
                }
            }
        }

    }

    #showBackground {
        opacity: 1;
        pointer-events: visible;
        animation: showSlowly  .3s linear;
    }

    @keyframes showSlowly {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #showPopup {
        animation: tremer .3s linear;
    }

    @keyframes tremer {
        0% {
            transform: translate(-50%, -50%) scale(0.2);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }

}



//DARK THEME DO MODAL
.dark-theme {
    .backgroundModal {
        .popup {
            background: #333;
            .header {
                img {
                    background: #333;
                }
                h1 {
                    color: #eee;
                }
                h2 {
                    color: #eee;
                }
            }
        }

    }
}