// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.align-center {
  text-align: center;
}

.tab-item-active {
  background: green;
}

.no-padding {
  padding: 0px !important;
}

h1, h2, h3, h4, h5, h6, p, ion-card-title, ion-badge, ion-item, 
ion-list-header, ion-note, ion-button, ion-title, button, ion-card-content, 
input[type="text"], input[type="password"], .item-inner {
  font-family: 'Open Sans', sans-serif !important;
  border: 0 !important;
}

ion-avatar img {
  border-radius: 50% !important;
}

button {
  transition: 0.3s !important;
}

ion-header {
  border: 0 !important;
  box-shadow: none !important;
}
ion-content {
  min-height: 100% !important;
}

ion-fab {
  button {
    border-radius: 50% !important;
  }
}

//Removendo bordas da ion-list/ion-item
.item-input {
  .item-inner {
    border-bottom: 1px solid lightgray !important;
    padding: 0 !important;
  }
}

.item-divider {
  .item-inner {
    border-bottom: 0 !important;
    padding: 0 !important;
  }
}

.default-button {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size: 15px;
}

.full {
  width: 100%;
}

.blue {
  background: #488aff;
  color: white;
}

.red {
  background: #f53d3d;
  color: white;
}

.green {
  background: #27ae60;
  color: white;
}

.success {
  background: #4cd137;
  color: white;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner {
  box-shadow: none !important;
}

.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom: 0 !important;
  box-shadow: none !important;
}

.transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
