// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.align-center {
    text-align: center;
}

.tab-item-active{
    background:green;
  }



  /** LOADER SAFE **/
  .loader-safe {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .98);
    margin: auto;
    z-index: 9999;
}

.loader-safe .all-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
}

.loader-safe .loader-img {
    position: relative;
    width: 250px;
    height: 50px;
}

.loader-safe .loader-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: -50%;
    transform: translate(50%);
}

.loader-safe .loader {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.loader-safe .loader .loader-dot {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 6px;
    transition: .2s;
}

.loader-safe .loader .loader-dot:nth-child(1) {
    background: #27ae60;
    animation: load-dot 1.2s ease-in-out infinite;
    animation-delay: .15s;
}

.loader-safe .loader .loader-dot:nth-child(2) {
    background: #27ae60;
    animation: load-dot 1.2s ease-in-out infinite;
    animation-delay: .3s;
}

.loader-safe .loader .loader-dot:nth-child(3) {
    background: #27ae60;
    animation: load-dot 1.2s ease-in-out infinite;
    animation-delay: .45s;
}

.loader-safe .loader .loader-dot:nth-child(4) {
    background: #27ae60;
    animation: load-dot 1.2s ease-in-out infinite;
    animation-delay: .6s;
}

@keyframes load-dot {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}





/** LOADER PADRAO **/
.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .95);
    z-index: 99999;
}

.loader {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 70px);
    top: calc(50% - 70px);
    border: 16px solid #eee;
    border-top: 16px solid #2ecc71;
    animation: load 1s linear infinite;
    border-radius: 50%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes load {
    0% {
        left: calc(50% - 70px);
        top: calc(50% - 70px);
        transform: rotateZ(0deg);
    }
    100% {
        left: calc(50% - 70px);
        top: calc(50% - 70px);
        transform: rotate(360deg);
    }
}