<!--
  Generated template for the MeusPratosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="{{selectedTheme}}">
    <ion-buttons left>
      <button ion-button (click)="refreshHistory()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Histórico</ion-title>
    <ion-buttons end>
      <button ion-button (click)="refreshHistory()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->


<ion-content  #pageContent fullscreen>

  <loader *ngIf="loading"></loader>

  <div *ngIf="dateSeparator && dateSeparator.length > 0" class="allPratos padding-bottom">

      <!-- <ion-fab right bottom>
        <button (click)="goToMontarPrato()" ion-fab color="primary">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab> -->

    <div class="date-pratos">

      <div *ngFor="let date of dateSeparator; let i = index" [class]="date.selected ? 'date-prato selected' : 'date-prato'"
        (click)="selectDate(i)">
        <div class="info-date-prato">
          <h1>{{date.dia}}</h1>
          <h2>{{date.mes | ntMonth}}</h2>
        </div>
      </div>


    </div>




    <div class="pratos">

      <div *ngFor="let prato of pratos; let i = index" class="padding-prato" (click)="openPrato(prato)">
        <div class="prato">
          <div *ngIf="prato.kcal_consumo < 750" class="traco great"></div>
          <div *ngIf="prato.kcal_consumo >= 750 && prato.kcal_consumo < 1250" class="traco warning"></div>
          <div *ngIf="prato.kcal_consumo >= 1250" class="traco bad"></div>
          <div class="info-prato">
            <p>{{prato.hr_consumo}}</p>
            <h1>{{prato.ds_refeicao}}</h1>
            <div class="info-icon">
              <div class="info">
                <ion-icon name="md-heart" color="claro"></ion-icon>
                <p>{{prato.kcal_consumo | ntNumber}} kcal</p>
              </div>
              <div class="info">
                <ion-icon name="md-restaurant" color="claro"></ion-icon>
                <p>{{prato.peso | ntNumber}}g</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>

  <div class="no-food" *ngIf="!loading && (!dateSeparator || dateSeparator.length == 0)">
    <h1>Seus pratos</h1>
    <h2>Você ainda não possui nenhum prato. Monte seu primeiro agora mesmo.</h2>
    <button type="button" class="default-button green padding" (click)="goToMontarPrato()">Montar prato</button>
  </div>



</ion-content>