page-meus-pratos {


  .allPratos {
    display: flex;
    .date-pratos {
      * {
        margin: 0 !important;
      }
      position: fixed;
      left: 0;
      top: 0;
      width: 90px;
      height: calc(100vh - 50px) !important;
      overflow-y: scroll;
      .date-prato {
        text-align: center;
        position: relative;
        height: 84px;
        width: 100%;
        box-sizing: border-box;
        .info-date-prato {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          h1 {
            font-size: 16px;
            font-weight: 600;
            color: #aaa;
            transition: 0.2s;
          }
          h2 {
            font-size: 14px;
            color: #aaa;
            transition: 0.2s;
          }
        }
      }
      .selected {
        h1 {
          transition: 0.2s;
        }
        h2 {
          transition: 0.2s;
        }
      }
    }

    .pratos {
      position: absolute;
      width: calc(100% - 90px);
      left: 90px;
      .padding-prato {
        position: relative;
        padding: 24px 24px 14px 24px;
        box-sizing: border-box;
        .prato {
          position: relative;
          width: 100%;
          h1 {
            margin: 0;
            font-size: 15px;
            margin-bottom: 17px;
          }
          p {
            color: #bbb;
            font-weight: bold;
            margin: 0;
            margin-bottom: 8px;
            font-size: 11px;
          }
          .info-icon {
            margin-bottom: 5px;
            display: flex;
            .info {
              margin-right: 32px;
              display: flex;
              p {
                display: flex;
                margin-left: 5px;
                color: #bbb;
              }
            }
          }

          .great {
            background: #27ae60;
          }

          .warning {
            background: #f39c12;
          }

          .bad {
            background: #f53d3d;
          }

          .traco {
            height: 25px;
            width: 3px;
            position: absolute;
            right: 5px;
            top: 5px;
          }
        }
      }
    }
  }




  .no-food {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    h1 {
      font-size: 15px;
      font-weight: bold;
      color: #111;
    }
    h2 {
      font-size: 14px;
      color: #232323;
    }
    button {
      margin-top: 15px;
    }
    ion-fab {
      transform: translateX(-50%);
    }
  }

}
