<ion-header>

  <ion-navbar color="{{selectedTheme}}">
    <ion-title (click)="abrirDatas()" *ngIf="!loading || !firstLoading" text-left>{{ selectedDate | ntDate }}&nbsp;&nbsp;<ion-icon name="ios-arrow-down"></ion-icon></ion-title>
    <ion-title *ngIf="loading && firstLoading" text-left>Procurando pratos...</ion-title>
    <ion-buttons end>
      <button *ngIf="!loading || !firstLoading" ion-button icon-only (click)="refreshPratos()">
          <ion-icon style="font-weight: bold;" name="ios-refresh"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>

</ion-header>


<!-- #pageContent fullscreen -->
<ion-content>

  <loader *ngIf="loading"></loader>




    <div class="pratos" *ngIf="dateSeparator && dateSeparator.length > 0">

      <div *ngFor="let prato of pratos; let i = index" class="padding-prato" (click)="openPrato(prato)">
        <div class="prato">
          <div *ngIf="prato.kcal_consumo < 750" class="traco great"></div>
          <div *ngIf="prato.kcal_consumo >= 750 && prato.kcal_consumo < 1250" class="traco warning"></div>
          <div *ngIf="prato.kcal_consumo >= 1250" class="traco bad"></div>
          <div class="info-prato">
            <p>{{prato.hr_consumo}}</p>
            <h1>{{prato.ds_refeicao}}</h1>
            <div class="info-icon">
              <div class="info">
                <ion-icon name="md-heart" color="claro"></ion-icon>
                <p>{{prato.kcal_consumo | ntNumber}} kcal</p>
              </div>
              <div class="info">
                <ion-icon name="md-restaurant" color="claro"></ion-icon>
                <p>{{prato.peso | ntNumber}}g</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  <div class="no-food" *ngIf="!loading && (!dateSeparator || dateSeparator.length == 0)">
    <h1>Seus pratos</h1>
    <h2>Você ainda não possui nenhum prato. Monte seu primeiro agora mesmo.</h2>
    <button type="button" class="default-button green padding" (click)="goToMontarPrato()">Montar prato</button>
  </div>



</ion-content>