page-meus-pratos {

    ion-scroll {
        height: 220px; 
        display: flex; 
        overflow: visible;
        border: 0 !important;
    }

    .inner {
        // max-width: 2000px;
        height: 100%;
        background: #4e4e4e;
        ion-card {
            display: table-cell;
            height: 100%;
            padding: 10px;

            .inner-card-prato {
                width: 150px;
                ion-item {
                    font-size: 13px;
                    ion-badge {
                        font-size: 12px;
                    }
                }
            }
        }
    }

}
