page-contact-messages {

    .resposta-message {
        font-style: italic !important;
        span {
            color: #ccc;
            font-size: 12px;
        }
        p {
            color: #bbb;
        }
    }

    

}
