page-contact-messages {

    .resposta-message {
        font-style: italic !important;
        span {
            color: #ccc;
            font-size: 12px;
        }
        p {
            color: #bbb;
        }
    }

    ion-list {
        ion-list-header {
            font-size: 11px !important;
            font-weight: bold !important;
        }
    }
    
    ion-badge {
        font-size: 11px !important;
    }

    ion-card {
        ion-card-content {
            font-size: 12px !important;
            p {
                font-size: 12px !important;
            }
        }
    }

    .centralizar {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h2 {
          color: #aaa;
          font-weight: bold;
          font-size: 16px;
        }
        p {
          font-weight: bold;
          color: #aaa;
          font-size: 14px;
        }
      }

}
