page-contact-messages {

    .resposta-message {
        font-style: italic !important;
        span {
            color: #ccc;
            font-size: 12px;
        }
        p {
            color: #bbb;
        }
    }

    ion-list {
        ion-list-header {
            font-size: 11px !important;
        }
    }
    
    ion-badge {
        font-size: 11px !important;
    }

    ion-card {
        ion-card-content {
            font-size: 12px !important;
            p {
                font-size: 12px !important;
            }
        }
    }

}
