<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->






<ion-header no-padding>
  <!-- [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" -->
  <ion-navbar color="{{selectedTheme}}">
    <nt-searchbar showCancelButton="true" (callback)="onInput($event)"></nt-searchbar>
  </ion-navbar>

</ion-header>
<ion-content class="list-avatar-page" #pageContent fullscreen>

  <loader *ngIf="loading && (!users || (users && users.length == 0)) && (!foods || (foods && foods.length == 0))"></loader>

  <div *ngIf="showSad && searched !=''" padding>
    <div padding center>
      <div class="align-center" padding>
        <img width="192" height="192" src="https://i.imgur.com/jqzTnHU.png">
        <p style="color: dimgrey"><strong> Desculpa não conseguimos achar seu alimento ;( </strong></p>
      </div>
    </div>
  </div>

  <ion-list>

    <!-- (users && users.length > 0) || -->
    <div *ngIf="showWelcome == 0 && !showSad && (!loading ||  (foods && foods.length > 0))">
      <!-- <div *ngIf="foods && foods.length > 0"> -->
      <!-- <h2 text-center>Alimentos</h2> -->
      <ion-item *ngFor="let food of foods">
        <ion-avatar item-start>
          <img [src]="food.img_url">
        </ion-avatar>
        <h2>{{food.nome}}</h2>
        <p>{{food.kcal | number:'1.0-2'}} kcal</p>
      </ion-item>
      <!-- <button class="ver-todas-button" ion-button small outline (tap)="pushSearchResultPage('food')">ver todas</button> -->
      <!-- </div> -->

      <!-- <div *ngIf="users && users.length > 0">
        <h2 text-center>Pessoas</h2>
        <ion-item *ngFor="let user of users">
          <ion-avatar item-start>
            <img [src]="user.foto">
          </ion-avatar>
          <h2>{{user.nome}}</h2>
          <p>seguidores: {{food.kcal | number:'1.0-2'}} kcal</p>
          <ion-note item-end>#{{i+1}}</ion-note>
        </ion-item>
        <button class="ver-todas-button" ion-button small outline (tap)="pushSearchResultPage('people')">ver todas</button>
      </div> -->
    </div>

    <div *ngIf="showWelcome == 1" padding>
      <div padding center>
        <div class="align-center">
          <img src="https://cdn.xl.thumbs.canstockphoto.com.br/ma%C3%A7%C3%A3-com-fala-bubble-pretas-grunge-badge-balloon-sticker-bye-vetorial-illustration-vetor-eps_csp49300989.jpg">
          <p style="color: dimgrey"><strong> Faça sua pesquisa rapida de alimentos aqui, use a barra de pesquisa ao
              lado da lupa ;)</strong></p>
        </div>
      </div>
    </div>

    <div *ngIf="viewMode == 1 && showWelcome == 0 && !showSad">
      <ion-card *ngFor="let food of foods; let i = index">

        <ion-card-content>
          <ion-item>
            <ion-avatar item-start>
              <img [src]="food.img_url">
            </ion-avatar>
            <h2>{{food.nome}}</h2>
            <!-- <p>{{food.kcal | number:'1.0-2'}} kcal</p> -->
            <!-- <ion-note item-end>#{{i+1}}</ion-note> -->
          </ion-item>
        </ion-card-content>

        <ion-item>
          <ion-icon name='walk' item-start style="color: #d03e84"></ion-icon>
          Calorias
          <ion-badge item-end>{{food.kcal | number:'1.0-2'}} kcal</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name='restaurant' item-start style="color: #55acee"></ion-icon>
          Porção
          <ion-badge item-end>{{food.quantidade | number:'1.0-2'}} g</ion-badge>
        </ion-item>

      </ion-card>
    </div>



  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>