page-search, page-search-result {
  .list-avatar-page {
    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
  }
  ion-navbar {
    padding: 0px !important;
    margin: 0px !important;
  }
  .apple-size{
    width: 192px;
    height: 192px;
  }

  h2 {
    font-size: 15px;
  }

  ion-item {
    h2 {
      font-size: 13px !important;
    }
    p {
      font-size: 11px !important;
    }
  }

  .ver-todas-button {
    font-size: 12px !important;
  }

}
