<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-searchbar
      [(ngModel)]="searchInput.searchText"
      [showCancelButton]="searchInput.shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      placeholder="Buscar">
    </ion-searchbar>
</ion-header>



<ion-content class="list-avatar-page">

  <loader *ngIf="loading"></loader>

  <ion-list *ngIf="foods && foods.length > 0">

    <ion-list-header>
      Alimentos
      <button ion-button item-end (click)="toggleViewMode()" icon-only color="transparent">
          <ion-icon name="options"></ion-icon>
      </button>
    </ion-list-header>
    
    <div *ngIf="viewMode == 0">
      <ion-item *ngFor="let food of foods; let i = index">
        <ion-avatar item-start>
          <img [src]="food.img_url">
        </ion-avatar>
        <h2>{{food.nome}}</h2>
        <p>{{food.kcal | number:'1.0-2'}} kcal</p>
        <!-- <ion-note item-end>#{{i+1}}</ion-note> -->
      </ion-item>
    </div>


    <div *ngIf="viewMode == 1">
      <ion-card *ngFor="let food of foods; let i = index">
          
        <ion-card-content>
            <ion-item>
                <ion-avatar item-start>
                  <img [src]="food.img_url">
                </ion-avatar>
                <h2>{{food.nome}}</h2>
                <!-- <p>{{food.kcal | number:'1.0-2'}} kcal</p> -->
                <!-- <ion-note item-end>#{{i+1}}</ion-note> -->
              </ion-item>
        </ion-card-content>
    
        <ion-item>
          <ion-icon name='walk' item-start style="color: #d03e84"></ion-icon>
          Calorias
          <ion-badge item-end>{{food.kcal | number:'1.0-2'}} kcal</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name='restaurant' item-start style="color: #55acee"></ion-icon>
            Porção
          <ion-badge item-end>{{food.quantidade | number:'1.0-2'}} g</ion-badge>
        </ion-item>
    
      </ion-card>
    </div>



  </ion-list>
  

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>