<!--
  Generated template for the VerPratoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="{{selectedTheme}}">
        <ion-title text-left>Seu prato</ion-title>
        <ion-buttons end>
            <button *ngIf="!loading" [disabled]="!foods || foods.length == 0" (click)="presentConfirm()" ion-button>
                <ion-note  item-end color="white">Confirmar</ion-note>
            </button>

            <button *ngIf="loading" ion-button>
                <ion-note item-end color="white"><ion-spinner color="white"></ion-spinner></ion-note>
            </button>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  

    <!-- <ion-searchbar
    [(ngModel)]="searchInput.searchText"
    [showCancelButton]="searchInput.shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    placeholder="Buscar">
  </ion-searchbar> -->

    <ion-list *ngIf="foods && foods.length > 0">

        <ion-list-header>
          Alimentos
          <!-- <button ion-button item-end (click)="buttonClick()" icon-only color="transparent">
              <ion-icon name="options"></ion-icon>
          </button> -->
        </ion-list-header>
    
    
        <div [class.active]="food.selected" (click)="selectFood(food)" *ngFor="let food of foods; let i = index">
    
    
          <ion-item >
            <ion-avatar item-start>
              <img [src]="food.img_url">
            </ion-avatar>
            <h2>{{food.nome}}</h2>
            <p *ngIf="food.porcao_comida > 0" color="primary">{{food.porcao_comida}} g</p>
            <ion-icon *ngIf="food.porcao_comida > 0" name="checkmark" color="primary" item-end></ion-icon>
            <ion-icon  *ngIf="!food.porcao_comida || food.porcao_comida <= 0" name="ios-arrow-down" color="lightgray" item-end></ion-icon>
          </ion-item>
    
    
          <div *ngIf="food.selected" class="food-select-dropdown active-food-select-dropdown">
            <ion-list-header>
              Quantidade (em gramas)
              <ion-badge item-end *ngIf="food.porcao_comida">{{food.porcao_comida}} g</ion-badge>
            </ion-list-header>
            <ion-item>
              <ion-range  min="0" max="1000" [(ngModel)]="food.porcao_comida" (ngModelChange)="mudarPorcao($event, food)" color="secondary">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>1000</ion-label>
              </ion-range>
            </ion-item>
          </div>
    
    
    
        </div>
    
      </ion-list>
    
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>


</ion-content>
