page-ver-prato {
    .active {
        .item-inner {
            border: 0 !important;
        }
        .item {
            border: 0 !important;
        }
    }


    ion-item {
        h2 {
            font-size: 13px !important;
        }
        p {
            font-size: 12px !important;
        }
        ion-icon {
            font-size: 20px !important;
        }
    }

    ion-buttons {
        button {
            ion-note {
                font-size: 11px !important;
            }
        }
    }

}
