page-ver-prato {

    .allPrato {
        .prato-info {
            position: relative;
            width: 100%;
            height: 180px;
            .image-prato {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                .tabs-up {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    display: flex;
                    padding: 5px;
                    z-index: 10;
                    .tab-up {
                        position: relative;
                        ion-icon {
                            font-size: 22px;
                            padding: 10px;
                            color: #eee;
                            font-weight: bold;
                        }
                    }
                }
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                    filter: blur(5px);
                }
                .blur {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .3);
                }
                .image-prato-info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 18px 15px;
                    h1, p {
                        color: #fff;
                        margin: 0;
                    }
                    h1 {
                        font-weight: bold;
                        // text-transform: uppercase;
                        font-size: 17px;
                        letter-spacing: 1.1px;
                    }
                }
            }
        }

        .prato-options {
            position: relative;
            width: 100%;
            background: #fff;
            display: flex;
            border-bottom: 1px solid #eee;
            .option {
                position: relative;
                width: 100%;
                margin: 0;
                font-weight: bold;
                font-size: 14px;
                padding: 13px 10px;
                ion-icon {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }

        ion-item {
            h2 {
              font-size: 14px !important;
            }
            p {
              font-size: 12px !important;
            }
            ion-icon {
                font-size: 20px;
                color: #aaa;
            }
        }


          
        .centralizar {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        top: 50px;
        text-align: center;
        img {
            max-width: 90px;
        }
        h2 {
            color: #aaa;
            font-weight: bold;
            font-size: 16px;
        }
        p {
            font-weight: bold;
            color: #aaa;
            font-size: 14px;
        }
        }
          
          
    }
        
    

}


.dark-theme {
    .allPrato {
        .prato-options {
            background: #4b4b4b;
            border-bottom: 1px solid #444;
            .option {
                color: #fff;
                ion-icon {
                    color: #fff;
                }
            }
        }
    }
}