<!--
  Generated template for the VerPratoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header no-border>

    <ion-navbar color="{{selectedTheme}}">
        <ion-title text-left>Seu prato</ion-title>
        <ion-buttons end>
            <button *ngIf="!loading" [disabled]="!foods || foods.length == 0 || popupOpen || popupCheck" (tap)="presentConfirm()" ion-button>
                <ion-note item-end color="primary">Confirmar</ion-note>
            </button>

            <button *ngIf="loading" ion-button>
                <ion-note item-end color="white"><ion-spinner color="primary"></ion-spinner></ion-note>
            </button>
          </ion-buttons>
      </ion-navbar>

</ion-header> -->


<ion-content #pageContent fullscreen>
  
  <div class="allPrato" *ngIf="refeicao">
    <div class="prato-info">
      <div class="image-prato">
        <div class="tabs-up">
          <div class="tab-up">
            <ion-icon (tap)="closePrato()" name="md-close"></ion-icon>
          </div>
        </div>
        <img *ngIf="refeicao.foto" [src]="refeicao.foto">
        <img *ngIf="!refeicao.foto" src="https://images.pexels.com/photos/920570/pexels-photo-920570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <div class="blur"></div>
        <div class="image-prato-info">
          <h1>{{refeicao.ds_refeicao}}</h1>
          <p>{{refeicao.quantidade_pratos}}</p>
        </div>
      </div>
    </div>
    <div class="prato-options">
      <div class="option">
        Alimentos
      </div>
      <div class="option align-right" (tap)="openSearch()">
        Adicionar alimento &nbsp;
        <ion-icon name="add"></ion-icon>
      </div>
    </div>
    
    <div class="itens-prato" *ngIf="foods && foods.length > 0">
      <ion-item *ngFor="let food of foods; let i = index;">
        <ion-avatar item-start>
          <img [src]="food.img_url">
        </ion-avatar>
        <h2>{{food.nome}}</h2>
        <p>{{food.porcao_comida | number:'1.0-2'}} g</p>
        <ion-icon (tap)="deleteAlimento(food)" name="md-close" item-end></ion-icon>
      </ion-item>
    </div>

    <div class="centralizar" *ngIf="!foods || foods.length == 0">
      <img src="../../../assets/imgs/folhinha_da_macunha.png">
      <p>Seu prato está vazio.</p>
    </div>
    



    
    
  </div>
  

  <modal *ngIf="popupOpen" [loading]="loading" [btnConfirm]="'Confirmar'"
  (onCancel)="popupOpen = false" (onConfirm)="montarPrato()" [text]="confirmText"
  [title]="refeicao.ds_refeicao"></modal>

  <modal *ngIf="popupCheck" [btnConfirm]="'Ok'" type="check"
  (onConfirm)="verPrato()" [text]="checkText"
  [title]="'Concluído!'"></modal>

  
  
</ion-content>

<ion-footer style="z-index: 1" no-border no-shadow>
  <ion-toolbar color="transparent">
      <button (tap)="presentConfirm()" [disabled]="!foods || foods.length == 0 || loading || popupOpen || popupCheck" type="button" class="default-button full green box-shadow-13">Confirmar</button>
  </ion-toolbar>
</ion-footer>