<!--
  Generated template for the MontarPratoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" no-padding>
  <!-- [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" -->
  <ion-navbar color="{{selectedTheme}}">
    <nt-searchbar *ngIf="isSearching" (backButton)="isSearching=false" [onHeader]="true" (callback)="onInput($event)"></nt-searchbar>
    <ion-buttons end>
      <button ion-button *ngIf="!isSearching" (click)="isSearching=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!isSearching">Montar prato</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content" #pageContent fullscreen>
  <loader *ngIf="loading"></loader>
  <!-- <ion-searchbar [(ngModel)]="searchInput.searchText" [showCancelButton]="searchInput.shouldShowCancel" (ionInput)="onInput()"
    (ionCancel)="onCancel($event)" placeholder="Buscar">
  </ion-searchbar> -->

  <ion-list *ngIf="foods && foods.length > 0">

    <div *ngFor="let food of foods; let i = index">
      <div [class.active]="food.selected" (click)="selectFood(food)">


        <ion-item>
          <ion-avatar item-start>
            <img [src]="food.img_url">
          </ion-avatar>
          <h2>{{food.nome}}</h2>
          <p *ngIf="food.porcao_comida > 0" color="primary">{{food.porcao_comida}} g</p>
          <p *ngIf="!food.porcao_comida || food.porcao_comida <= 0" color="primary"><br></p>
          <ion-icon *ngIf="food.porcao_comida > 0" name="checkmark" color="primary" item-end></ion-icon>
          <ion-icon *ngIf="!food.porcao_comida || food.porcao_comida <= 0" name="ios-arrow-down" color="lightgray"
            item-end></ion-icon>
        </ion-item>


        

      </div>

      <div *ngIf="food.selected" class="food-select-dropdown active-food-select-dropdown">
        <ion-list-header>
          Quantidade
          <ion-badge item-end *ngIf="food.porcao_comida">{{food.porcao_comida}} g</ion-badge>
        </ion-list-header>
        <ion-item>
          <!-- <input type="text" name="porcao_comida" [(ngModel)]="food.porcao_comida"
          (ngModelChange)="mudarPorcao(food.porcao_comida, food)" class="food-quantidade"> -->
          <!-- <ion-input type="text" class="food-quantidade"></ion-input> -->
          <!-- <ion-select class="food-quantidade" [(ngModel)]="gender" interface="popover">
            <ion-option value="f">Female</ion-option>
            <ion-option value="m">Male</ion-option>
          </ion-select> -->
          <!-- <select class="food-quantidade">
            <option value="G">Gramas</option>
            <option value="P">Porção</option>
          </select> -->
          <ion-range min="0" max="1000" [(ngModel)]="food.porcao_comida" (ngModelChange)="mudarPorcao($event, food)"
            color="secondary">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>1000</ion-label>
          </ion-range>
        </ion-item>
      </div>

    </div>

  </ion-list>

  <ion-fab [style.opacity]="allSelectedFoods.length > 0 ? 1 : 0" [style.pointer-events]="allSelectedFoods.length > 0 ? 'visible' : 'none !important'"
    right bottom>
    <button (click)="verPrato()" ion-fab color="primary">
      <ion-icon name="restaurant"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>