page-criar-refeicao {

    .div-user-img {
        position: relative;
        height: 106px;
        width: 106px;
        margin: auto;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        img {
          position: absolute;
          left: 3px;
          top: 3px;
          margin: auto;
          height: 100px;
          width: 100px;
          border-radius: 50%;
        }
    }

    .background {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .8);
        z-index: 9998;
        opacity: 0;
        transition: .3s;
        pointer-events: none;
    }

    ion-header {
        z-index: 1 !important;
    }

    #showImageOptions {
        opacity: 1;
        pointer-events: visible;
    }

    .imageOptions {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        border-radius: 4px;
        z-index: 9999;
        border: 1px solid lightgray;
        background: #fff;
        opacity: 0;
        pointer-events: none;
        .options-header {
            position: relative;
            width: 100%;
            padding: 0 10px;
            border-bottom: 1px solid lightgray;
            h2 {
                font-size: 14px;
                font-weight: bold;
                margin: 15px 5px;
            }
        }
        .options {
            position: relative;
            width: 100%;
            padding: 0 10px;
            h2 {
                font-size: 14px;
                margin: 15px 5px;
            }
        }
    }

}
