<!--
  Generated template for the EditRefeicoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="{{selectedTheme}}">
    <ion-title text-left>
      Suas refeições
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAdicionarRefeicao()">
          <ion-icon style="font-weight: bold;" name="ios-add"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content>

  <loader *ngIf="loading"></loader>

  <div class="centralizar" *ngIf="(!refeicoes || (refeicoes && refeicoes.length == 0)) && !loading">
    <img src="../../assets/imgs/folhinha_da_macunha.png">
    <h2></h2>
    <p>Você não possui refeições personalizadas.</p>
  </div>

  <ion-list class="principal" *ngIf="refeicoes && refeicoes.length > 0 && !loading">

    <ion-item (press)="presentPopover(refeicao)" *ngFor="let refeicao of refeicoes;">
      <ion-avatar item-start>
        <img *ngIf="refeicao.foto" [src]="refeicao.foto">
        <img *ngIf="!refeicao.foto" src="https://images.pexels.com/photos/920570/pexels-photo-920570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      </ion-avatar>
      <h2>{{refeicao.ds_refeicao}}</h2>
      <p *ngIf="refeicao.quantidade_pratos != 1">{{refeicao.quantidade_pratos}} pratos</p>
      <p *ngIf="refeicao.quantidade_pratos == 1">{{refeicao.quantidade_pratos}} prato</p>
      <ion-icon (click)="presentPopover(refeicao)" item-end name="md-more"></ion-icon>
    </ion-item>

  </ion-list>

  <modal *ngIf="popupOpen" [loading]="excluindo" [btnConfirm]="'Excluir'" [color]="'red'"
  (onCancel)="popupOpen = false" (onConfirm)="deletarRefeicaoCustom(selectedRefeicao)" [text]="deleteText"
  [title]="selectedRefeicao.ds_refeicao"></modal>

  <modal *ngIf="popupCheck" [btnConfirm]="'Ok'" type="check"
  (onConfirm)="popupCheck = false" [text]="checkText"
  [title]="'Concluído!'"></modal>

  

</ion-content>
