page-edit-refeicoes {



    .principal {
        position: relative;
        width: 100%;
        .opcoes {
            position: relative;
            width: 100%;
            .opcao {
                position: relative;
                width: 100%;
                border-bottom: 1px solid lightgray;
                display: flex;
                box-shadow: none;
                .foto {
                    position: relative;
                    width: 38px;
                    height: 38px;
                    margin: 5px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .info {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    padding: 10px;
                    width: 100%;
                    text-align: left;
                    .info-opcao {
                        position: relative;
                        width: 100%;
                        h2 {
                            font-size: 16px;
                            font-weight: bold;
                            color: #222;
                            margin: 0;
                            margin-top: 5px;
                        }
                    }
                    .btns {
                        width: 100%;
                        text-align: right;
                    }
                }
            }
        }

    }

    ion-header {
        z-index: 1 !important;
    }


}






//DARK THEME
.dark-theme {
    .principal {
        .opcoes {
            .opcao {
                border-bottom: 1px solid #333;
                box-shadow: none;
                .info {
                    .info-opcao {
                        h2 {
                            color: #eee;
                        }
                    }
                }
            }
        }
    }
}