page-edit-refeicoes {


    .centralizar {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h2 {
          color: #aaa;
          font-weight: bold;
          font-size: 16px;
        }
        p {
          font-weight: bold;
          color: #aaa;
          font-size: 14px;
        }
      }



    .principal {
        margin-top: 2px;
        ion-item {
            transition: 0s !important;
            ion-icon {
                color: #bbb;
            }
        }
    }

    ion-header {
        z-index: 1 !important;
    }


}






//DARK THEME
.dark-theme {
    .principal {
        .opcoes {
            .opcao {
                border-bottom: 1px solid #333;
                box-shadow: none;
                .info {
                    .info-opcao {
                        h2 {
                            color: #eee;
                        }
                    }
                }
            }
        }
    }
}